@import url('./reset.meyer.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html, body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

b {
    font-weight: 700;
}

header, footer {
    background-color: black;
    color: yellowgreen;
    padding: 4rem 1rem;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

nav {
    padding: 0.5rem;
    border-bottom: 1px solid yellowgreen;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    justify-content:  space-between;
    gap: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

nav ul li a:hover {
    color: greenyellow;
}

main {
    padding: 1rem;
}

main h2 {
    font-size: 2rem;
    font-weight: 700;
    background-color: greenyellow;
    color: whitesmoke;
    padding: 0.5rem;
}

table {
    margin-top: 2rem;
    width: 100%;
}

table thead tr th {
    padding: 0.3rem;
    background-color: black;
    color: yellowgreen;
    border-radius: 0.4rem;
    border: 1px solid white;
}

table tbody tr td {
    padding: 0.3rem;
    background-color: yellowgreen;
    color: black;
    border-radius: 0.4rem;
    text-align: center;
    border: 1px solid white;
}

form {
    padding-top: 2rem;
}

form .formBox {
    display: grid;
    padding-bottom: 0.5rem;
}

form .formBox label {
    font-size: 0.8rem;
}

form .formBox input {
    font-size: 1.2rem;
}

form .formBox .submit {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: black;
    color: white;
}

form .formBox .delete {
    font-size: 1.2rem;
    font-weight: 700;
    background-color: darkred;
    color: white;
}

form .formBox .submit:hover, form .formBox .delete:hover {
    background-color: yellowgreen;
}

footer {
    margin-top: 2rem;
}

/*Extras*/

.message {
    margin: 1rem;
    border: 1px solid red;
    box-shadow: 3px 3px 3px black;
}

.message h3, .msg h3 {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: red;
    color: yellow;
}

.message p {
    padding: 0.5rem;
    font-weight: 300;
    color: darkred;
}

@media screen AND (min-width:768px) {
    main {
        margin: 0rem 3rem;
    }
}

@media screen AND (min-width:1024px) {
    main {
        width: 960px;
        margin: auto;
    }
}
